body {
background-color: lightblue;

}
h3 {
	color: green
	
	
}


p{
	 border-style: solid;
	 border-color: black;
 
 }


h1 {
  color: red;
  text-align: center;
}

p {
   
  font-family: Times New Roman, Georgia, serif; 
  text-align: center;
  font-size: 20px;
}

ul {
	
	text-align: center;
	

}

#pizza{
	width: 600px;
	height: 500px;
	text-align: center;

}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
a {
  color: red;
  a-align: center;
}
h3 {
	text-align: center;
}